{% extends 'Home/base.html' %}
{% load staticfiles %}
{% block title %}Contact{% endblock %}
{% block activeContact %}active{%endblock%}
{% block body %}

	<div class="container marketing">
	
	<hr class="featurette-divider" style="display: none;">
	<center>
		<h1 class="featurette-heading">Contact Us</h1>
		<p class="lead">We are listening</p>
	</center>
      <hr>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Reach/Call/Mail<span class="text-muted">Us</span></h2>
          <p class="lead">+91-9958306474</p>
          <p class="lead">IIIT-Delhi</p>
          <p class="lead">mayank15056@iiitd.ac.in</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

    </div><!-- /.container -->
{% endblock %}